/web/bundles/
/var/bootstrap.php.cache
/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/var/sessions/*
/build/
/vendor/
/bin/
!/bin/.gitkeep
!/bin/console
/.idea/
composer.lock
