/app/config/parameters.yml
/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/var/logs/*
!var/logs/.gitkeep
/var/sessions/*
!var/sessions/.gitkeep
/build/
/vendor/
/bin/
!/bin/.gitkeep
!/bin/console
/.idea/
composer.lock
